<section class="hero">
  <div class="hero-text">
    <span class="text-body"
      >Welcome to the
      <h1 data-text="STG">STG</h1></span
    >
    <p id="hero-description" class="typing-text">
      Your fitness journey starts here. Get ready to transform your life with
      our expert trainers and state-of-the-art facilities.
    </p>
    <a href="/services" class="cta-button" id="hero-button"
      >Explore Our Services</a
    >
  </div>
</section>
